
.sider {
  padding-inline: 10px;
  max-width: none !important;
  min-width: 50px !important;
  // reset flex
  flex: 0 0 auto !important;
  width: auto !important;

  :global(.ant-menu-title-content) {
    svg {
      margin-bottom: -.2rem;
    }
  }
}