

.loginView {
  &__Wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/login-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__Title {
    margin-bottom: 10px !important;
    margin-top: 0 !important;
    font-weight: 700 !important;
  }

  &__Subtitle {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    font-weight: 400 !important;
  }

  &__Brand {
    color: #fff;
    font-size: 14px;
    font-weight: 400;

    display: flex;
    align-items: center;

    span {
      opacity: .8;
      margin-left: 5px;
    }
  }

  &__Card {
    width: 350px;
    align-items: center;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    :global(.ant-typography) {
      text-align: center !important;
    }
  }
}
