
.popover {
  :global(.ant-popover-inner) {
    padding: 0 !important;
  }
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;

  &_picker {
    overflow: hidden;
    border: none !important;
    outline: none !important;

    input {
      outline: none !important;
      border: 1px solid #ccc !important;
      box-shadow: none !important;
    }

    &_dark {
      input {
        background: #202020 !important;
        outline: none !important;
        border: 1px solid #333 !important;
        box-shadow: none !important;
        color: #fefefe !important;
      }

      > div:last-child {
        background: #222 !important;
      }

    }
  }
}
