
.ant-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  svg {
    font-size: 16px !important;
  }

  span {
    font-weight: 600 !important;
  }

  .anticon {
    margin-right: 0 !important;
  }
}

.ant-form-item-label {
  label {
    font-weight: 600 !important;
  }
}

.ant-form-item {
  margin-bottom: 12px !important;
}
